// COLORS
$color-primary: #90b3ba;
$color-primary-light: #bee9f1;
$color-primary-dark: #4c7f8d;

$color-white: #fff;
$color-black: #000;
$color-gray: #737373;
$color-gray-light: #f7f7f7;
$color-gray-dark: #545454;

